
body {
    height: 100%;
    padding-top: 5px;
    padding-bottom: 20px;
}
.footer { 
    position:fixed;
    bottom: 10px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #3c4669;
}
#push {
    height: 100px;
}


/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

.bg-bluesh {
    background-color: #3c4669;
    color: #ecf1f7;
}
#footer {
    height: 260px;
    background-color: #3c4669;
    color: #ecf1f7;
}

.jumbotron {
    padding: 5rem 4rem;
    margin-top: 30px;
    background-color: #596386;
    color: #ecf1f7;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}