@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="row">
    <div class="col-md-4" style="width: 18rem;">
        <img class="card-img-top" src="~/Content/Images/about1.jpg" alt="Card image driver">
    </div>
    <div class="col-md-4" style="width: 18rem;">
        <img class="card-img-top" src="~/Content/Images/map_dublin.jpg" alt="Card image packages">
    </div>
    <div class="col-md-4" style="width: 18rem;">
        <div class="card-body">
            <h3>Dublin</h3>
            <hr />
            <p>Romford Street 16</p>
            <p>Dublin, Ireland</p>
            <br />
            <h5>Opening Hours</h5>
            <hr />
            <h6>Monday – Friday</h6>
            <p>10am – 7pm</p>
            <h6>Saturday</h6>
            <p>10am – 6pm</p>
        </div>
    </div>
</div>
<br /><br /><br />

<div class="row">
    <div class="col-md-4" style="width: 18rem;">
        <img class="card-img-top" src="~/Content/Images/about2.jpg" alt="Card image driver">
    </div>
    <div class="col-md-4" style="width: 18rem;">
        <img class="card-img-top" src="~/Content/Images/map_bray.jpg" alt="Card image packages">
    </div>
    <div class="col-md-4" style="width: 18rem;">
        <div class="card-body">
            <h3>Bray</h3>
            <hr />
            <p>Romford Street 16</p>
            <p>Bray, Ireland</p>
            <br />
            <h5>Opening Hours</h5>
            <hr />
            <h6>Monday – Friday</h6>
            <p>10am – 7pm</p>
            <h6>Saturday</h6>
            <p>10am – 6pm</p>
        </div>
    </div>
</div>