@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:20px;"> 
    <img src="~/Content/Images/about.jpg" class="rounded mx-auto d-block" alt="Responsive image">  
</div>
<div style="margin-bottom:20px;">
    <img src="~/Content/Images/map.jpg" class="rounded mx-auto d-block" alt="Responsive image">
</div>

<div class="card text-center">
    <div class="card-header">
        Contact
    </div>
    <div class="card-body">
        <h5 class="card-title">DUBLIN - TALLAGHT - BRAY</h5>
        <p class="card-text">34 Main Str. Dublin 5, Co Dublin.</p>
        <p class="card-text">office@ideliver.ie</p>
        <p class="card-text">(01)286 57 998 / (01)286 46 374</p>
        <a href="#" class="btn btn-primary">Call Today</a>
    </div>
    <div class="card-footer text-muted">
        2 days discount
    </div>
</div>
