
@{
    ViewBag.Title = "Guest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>iDeliver</h1>
    <p class="lead">
        iDeliver is proud to offer well-paid, flexible work and our riders are at the heart of all that we do.
        Their hard work powers our growth, and without them we would be unable to bring our customers the best
        food on demand while helping great local restaurants to grow.

        iDeliver cares about our riders, and that’s why we were the first on-demand company to call for an end to
        the trade-off between flexibility and security that currently exists in employment law.
    </p>
    <p><a href="#" class="btn btn-outline-warning btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="card col-md-4" style="width: 18rem;">
        <img class="card-img-top" src="~/Content/Images/33.jpg" alt="Card image driver">
        <div class="card-body">
            <h5 class="card-title">Drivers</h5>
            <p class="card-text">By constantly innovating and expanding, we offer the best choice and convenience.</p>
            <a href="#" class="btn btn-sm btn-outline-dark">Join Our Team</a>
        </div>
    </div>
    <div class="card col-md-4" style="width: 18rem;">
        <img class="card-img-top" src="~/Content/Images/11.jpg" alt="Card image packages">
        <div class="card-body">
            <h5 class="card-title">Deliveries</h5>
            <p class="card-text">By offering fast and reliable delivery which the customer can track on their phone.</p>
            <a href="#" class="btn btn-sm btn-outline-dark">Call Us</a>
        </div>
    </div>
    <div class="card col-md-4" style="width: 18rem;">
        <img class="card-img-top" src="~/Content/Images/22.jpg" alt="Card image biker">
        <div class="card-body">
            <h5 class="card-title">Bikers</h5>
            <p class="card-text">Well-paid, flexible work and our riders are at the heart of all that we do.</p>
            <a href="#" class="btn btn-sm btn-outline-dark">Try It</a>
        </div>
    </div>
</div>

