@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Add New Role";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<hr />
<hr />
<h2>Add User Role</h2>
<hr />

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h6> Enter Role Name</h6>

        <div class="form-actions no-color">
        @Html.EditorFor(m => m.Name)
        <input type="submit" value="Create Role" />
        </div>
    }
</div>
