@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Add Role";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<hr />
<hr />
<h2>User Roles</h2>
<hr />

<table>
    <tr>
        <td>
            <table>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>
<hr />
<p>@Html.ActionLink("Create New Role", "Create", "Roles", null , new { @class="btn btn-primary"})</p>

