
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AnalystLayout.cshtml";
}

<hr />
<hr />
<h2>Chart For Orders</h2>
<hr />

<div>
    <table>
        <tr>
            <td>
                <img src="@Url.Action("CreateBar")" alt="Bar Chart" />
            </td>
        </tr>
    </table>
</div>